
### General
server_ip: "555.555.555.555"
lets_encrypt_email: "user@domain.ltd"


### Only Office specific
onlyoffice_http_port: 
onlyoffice_https_port: 
onlyoffice_domain: "onlyoffice.domain.ltd"
onlyoffice_jwt_secret: "<123xyz>"


### Privatebin specific
privatebin_https_proxy_port: 
privatebin_domain: "privatebin.domain.ltd"
privatebin_creators: "240.0.0.1"  # Set this to your own IP to allow only you to make entries in Privatebin, can be comma seperated for multiple addresses. Does not support FQDN.


### Owncast specific:
owncast_target: "abc"
owncast_instances:  # Refer to instance during script runtime with setting 'owncast_target' to the corresponding 'owncast_name'
  - owncast_name: "abc"
    owncast_domain: "live.abc.tld"
    owncast_https_proxy_port: 00000
    owncast_rtmp_port: 00000
  - owncast_name: "xyz"
    owncast_domain: "live.xyz.tld"
    owncast_https_proxy_port: 00000
    owncast_rtmp_port: 00000
