
### General
server_ip: "555.555.555.555"
lets_encrypt_email: "user@domain.ltd"


### Only Office specific
onlyoffice_http_port: 
onlyoffice_https_port: 
onlyoffice_domain: "onlyoffice.domain.ltd"
onlyoffice_jwt_secret: "<123xyz>"
