
# Put secrets here:
server_ip: ""

lets_encrypt_email: "<somemail@domain.tld>"


# Only Office specific
onlyoffice_http_port: ∞
onlyoffice_https_port: ∞

lets_encrypt_domain: "onlyoffice.domain.tld"

onlyoffice_jwt_secret: "<xyz123>"
